body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#background-header{
    position:relative;
    width: 100vw;
    height: 500px;
    background:url("zomatoheader.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.header{
    width: 100vw;
    height: 90px;
}
.nav-menu{
    width: 60vw;
    height: 100px;
}
.logo {
    height: 63px;
    display: block;
  }
.search{
    width: 30vw;
    height: 60px;
    border:none;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    font-size: 14px;
    padding-left: 19px;
    font-weight: 600;
}
.searchbtn{
    width: 130px;
    background-color: red;
    color: white;
    border:none ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    font-weight: 600;

}
.header-flex{
    margin-top: 60px;

}
.sign{
    margin-top: -20px;
    color: white;
    float: right;
    padding-left: 15px;
}
.login{
    margin-top: -20px;
    color: white;
    float: right;
}
#second{
    margin-top: 50px;
    margin-bottom: 50px;
}

.card1{
    width:50%;
    margin: 0px;
    height: 250px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.forflex{
    display: flex;
    gap: 10px;
    width: 70%;
    justify-content: center;
    margin-left: 15%;
   
   
}
#box1{
    
   background-size: cover;
   background: url("orderonline.jpeg");

}
#box2{
    background: url("dining.jpg");
    background-size: cover;
}
.card-bottom{
    background-color: white;
    margin-top: 175px;
    width: 100%;
    height: 100px;
    
}
.text2{
    font-size: 20px;
    display: flex;
    margin-top: -0.5rem;
}
.text3{
    font-size: 15px;
    display: flex;
    
}
#third{
    margin-top: 10px;
    margin-bottom: 10px;
}
.collection{
    font-size: 45px;
    font-weight: normal;
    display: flex;
    padding-left: 14%;
    
}
.text4{
    font-size: 15px;
    display: flex;
    padding-left: 14.3%;
}

.card2{

    margin: 2px;
    height: 380px;
    background-color: white;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 50%;
}

.car2{

    margin: 2px;
    height: 380px;
    background-color: white;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 50%;
}
#box3{
    background: url("egg.jpg");
    background-size: cover;
    
    
}
#box4{
    background: url("leg.jpg");
    background-size: cover;
    
}
.place{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 50%;
    
   
}
.card3{
    margin-top: 4%;
    margin-left: 24%;
    width: 76%;
    margin: 2px;
    height: 70px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 6vw;
    
}

.text6{
    font-size: 15px;
    
}
.eggg{
    
    width: 45%;
    height: auto;
}
.legg{
    width: 45%;
    height: auto;
}

.row1{
    width: 100%;
    height: auto;
    margin-left: 14%;
}
.container-xxl {
    max-width: 1132px;
  }
  .mala{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position: relative;
    top: -30%;
    left: 5%;
    
}
.places{
    font-size: 15px;
    display: flex;
    position: relative;
    top: -30%;
    left: 5%;
}
.forthbackground{
    width: 100%;
    height: 500px;
    background-color: #FFFBF7;
}
.logingphoto{
    height: 25%;
    margin-top: 15%;
    margin-left: 30%;
}
.explore{
    
    margin-left: 24%;
    width: 76%;
    margin: 2px;
    height: 70px;
    background-color: white;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 6vw;
    
}
.Popular{
    font-size: 20px;
    font-weight: normal;
    display: flex;
    position: relative;
    top: -20%;
    left: 3%;
}
.arrow{
    height: 25%;
    margin-top: -7
   
    
}
.table{
    border:0;

}
.zomatoba {
    background: url("blacklogo.webp");
    background-repeat: no-repeat;
    height: 121px;
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    z-index: 1;
}
  .aboutzo{
    margin-left: 20%;
    margin-top: 2%;
  }
  .li{
    margin: 0%;
    margin-left: 11%;
    list-style: none;
  }
  .contant{
    font-weight: normal;
    margin-left: 20%;
}
  .footerback{
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    margin-top: 4%;
  }
  .contant1{
    font-weight: normal;
    margin-left: 3%;
    margin-top: -18%;
}
.aboutzo1{
    margin-left: 180%;
    margin-top: -10%;
  }
  #getapp{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: rgba(234,241,130,0.1);
  }
  .emailtext{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    background-color: white;
  }
 .tbl{
    margin-top: -10%;
    margin-left: 20%;
 }